<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/app.css" media="screen" title="canvas-examples" charset="utf-8">
    <title>simple particles victor - canvas-examples</title>
    <script src="../js/victor.js" charset="utf-8"></script>
    <style media="screen">
      body {
        margin: 0;
        padding: 0;
        background: #111;
      }
    </style>
  </head>
  <body>
    <canvas class="js-vis" id="vis"></canvas>
    <script src="../js/simple-particles-victor.js"></script>
  </body>
</html>
